img{
    width: 200px;
    height: auto;
    transform: translateY(-20px);
}
.all-movies{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    margin: 50px;

}
.movie-recommendation{
    border: 1px solid black;

    /* margin:50px; */
    margin-bottom: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
}
.movie-recommendation :nth-child(1){
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 20px;
    margin-right: 20px;

    
}
.movie-recommendation :nth-child(2){
    grid-column-start: 2;
    grid-row-start: 1;
}
.movie-recommendation :nth-child(2) :nth-child(1){
    margin: 0;
}

.star-rating {
    display: flex;
  }
.star-rating :nth-child(1) {
margin: 0;}
  
  .star {
    color: #ddd; /* Default color for unfilled stars */
  }
  
  .star.filled {
    color: gold; /* Color for filled stars */
  }

  .heart-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    /* transform: translateY(-20px); */
  }
